$colors: (
  border: #ffffff,
  buttons: (
    cancel: #dc3545bf,
    cancelHover: #dc3545,
    confirm: #28a745bf,
    confirmHover: #28a745,
    create: #28a745bf,
    createHover: #28a745,
    delete: #dc3545bf,
    deleteHover: #dc3545,
    edit: #007bffbf,
    editHover: #007bff,
  ),
  card: #fafafa00,
  cardHover: #fafafa3f,
  item: #c8c8c8,
  text: #fafafa,
  textAlternative: #050505,
);
