@use "sass:color";

$colors: (
  border: #ffffff,
  buttons: (
    cancel: #dc3545bf,
    cancelHover: #dc3545,
    confirm: #28a745bf,
    confirmHover: #28a745,
    create: #28a745,
    createHover: color.adjust(#28a745, $lightness: -10%),
    delete: #dc3545,
    deleteHover: color.adjust(#dc3545, $lightness: -10%),
    edit: #007bff,
    editHover: color.adjust(#007bff, $lightness: -10%),
  ),
  card: #fafafa00,
  cardHover: #fafafa1a,
  item: #c8c8c8,
  itemHover: color.adjust(#c8c8c8, $lightness: -10%),
  itemAlternative: #fafafa,
  itemAlternativeHover: color.adjust(#fafafa, $lightness: -10%),
  text: #fafafa,
  textAlternative: #050505,
);
